.card1
{
	height: 500px;
    display: flex;
   
    flex-direction: row;
    justify-content: space-between;
    margin: -8px;
    width: 50%;
    margin-top: 20px;
    margin-left: -12px;

}
.card1> div {
  
  margin: 10px;
  padding: 5px;
  font-size: 30px;
}
.img1>img
{
      height: 442px;
    width: 100%;
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .img1>img {
    height: 442px;
    width: 229%;
    margin-top: 15px;
  }


}
  
